a{
    color: deeppink;
}
a:hover{
    color:transparent;
}    

p{
    width: 800px;
    margin:auto;
    margin-top: 60px;
    color:snow;
}

body{
    font-family: 'Press Start 2P', cursive;
    font-size: 14;
    line-height: 2.5;
    margin-top: 20px;
    background-color: blue;
    text-align: justify;
    }

.link{
    font-size: 12px;
}

.time{
    color: deeppink;
}
.reading{
    
}

.class{
}

.meeting{
}

.question{
}

.plan{
}

.button{
    text-align: center;
    color: deeppink;
}
