a{
    color: hotpink;
}
a:hover{
    color:deeppink;
}    

p{
    width: 800px;
    margin:auto;
    margin-top: 40px;

}

body{
    font-family: 'Press Start 2P', cursive;
    font-size: 14;
    line-height: 2.5;
    margin-top: 20px;
    background-color: black;
    text-align: justify;
    }

.reading{
    color: red;
    
}

.class{
    color: darkorange;
}

.meeting{
    color: gold;
}

.question{
    color: greenyellow;
}

.button{
    text-align: center;
    color: hotpink;
}
